body{
    background-image: url("background.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    color: #FA6900; text-align: center; font-weight: 500; font-style: normal;
    font-size: 50px; letter-spacing: 10px; line-height: .9em; text-transform: uppercase;
}

.parent1{
    display: flex;
    flex-direction: row;
    box-flex: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.childA{
    color: black;
}
.childB{
    color: black;

}

.childA h2{
    margin-right: 50px;
    color: #69D2E7;
}

.childB h2{
    margin-left: 50px;
    color: #69D2E7;
}