body{
    background-color: rgba(255, 255, 255, .1);
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}
  h1{
    color: #798EA8; text-align: center; font-weight: 500; font-style: normal;
    font-size: 50px; letter-spacing: 10px; line-height: .9em; text-transform: uppercase;
  }
  h2{
    color:#798EA8; margin-left: 10px; text-align: center;
  }
  p{
    color: #74879F; font-size: 100%; margin-left: 10px; text-align: center;
  }
  a, a:visited{
    color: #293340; font-weight: 500; font-style: normal; font-size: 14px;
    letter-spacing: .14em; line-height: .9em; text-transform: uppercase; text-align: center;
  }
  a:hover{
    color: #5F6370; font-size: 150%;
  }
.Menu{
    background-color: rgba(179, 233, 244, .2); word-spacing: 80px; text-align: center;
}
.dropMenu{display: none;}

.BlockOne{
    max-width: 100%; background-color: rgba(242, 253, 252, .5);
    padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;
    margin-top: 50px; margin-bottom: 25px;
}
.parent{
    display: flex;
    box-flex: row wrap;
    flex-direction: row;
    justify-content: space-around;    
    align-items: stretch;
}

.PageWrapper{
    max-width: 100%; background-color: rgba(242, 253, 252, .5);
    padding-top: 10px; padding-bottom: 10px; padding-left: 40px; padding-right: 40px;
    margin-bottom: 25px;
}

.logo{
    background-image: url(prof.jpeg);
    width: 200px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}
@media (max-width: 600px){
    h1{
        font-size: 30px;text-align: left;
    }
    .navbar{
        display: none;
    }
    .dropLink{
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    .dropMenu{
        display: inline-block; position: relative; padding-left: 5px;  
    }
    .dropDownContent{
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropDownContent a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropDownContent a:hover {background-color: #ddd;}

    .dropMenu:hover .dropDownContent {display: block;}

    .dropMEnu:hover .dropLink {background-color: #3e8e41;}

}
  
  